body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ECE5C7;
  padding-top: 100px;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'Kablammo', 'Zeyada', cursive;
  font-size: 4.5rem;
  color: #F86F03;
}

.heading {
  font-size: 2rem;
  color: #F86F03;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.mountain {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  width: 60%;
  max-width: 800px;
  height: 300px;
}

.my-image {
  border-radius: 50%;
  width: 40%;
  display: block;
  margin: 0 auto;
}

.intro {
  width: 80%;
  margin: 50px auto;
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #F86F03;
  margin: 50px auto;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  color: #F86F03;
  margin: 0 auto 20px auto;
  font-size: 1.25rem;
}

.real-skills {
  margin: 50px auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 50px auto;
  max-width: 1000px;
  gap: 10px;
}

.super-skill {
  width: 45%;
  padding: 20px;
  text-align: center;
  background-color: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 420px;
  max-height: 420px;
}

.coding {
  height: 150px;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  color: black;
}

.code {
  margin-bottom: 50px;
}

.web {
  height: 150px;
  margin-bottom: 20px;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: #d3d3d3;
border-width: 5px;
width: 4%;
margin:80px auto 0 auto;
}

.contactme {
  text-align: center;
  padding: 50px;
}

.get {
  font-size: 1.75rem;
  margin: 100px auto 50px auto;
}

.msg {
  margin: 0 auto 50px auto;
}

.btn {
  background: #F86F03;
  background-image: linear-gradient(to bottom, #82DBD8, #F86F03);
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background: #069A8E;
  background-image: linear-gradient(to bottom, #069A8E, #069A8E);
  text-decoration: none;
}

.footerlink {
  color: #F86F03;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

.end {
  padding-top: 50px;
  text-align: center;
  background-color: #F4D160;
  height: 100px;
}

@media (max-width: 625px)
{
  .real-skills {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
  }
}
